<app-menu></app-menu>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="titulo">LISTADO DE Pacientes</h5>
            <table class="table">
                <tbody>
                    <tr *ngFor="let pacientes of listPacientes">
                        <td>{{ pacientes.nombre }}</td>
                        <td>{{ pacientes.apellidos }}</td>
                        <td>{{ pacientes.user }}</td>
                        <td>
                            <i (click)="editarUsuario(pacientes)" class="far fa-edit text-info">Editar</i>
                        </td>
                        <td>
                            <i (click)="eliminarUsuario(pacientes.id)" class="far fa-trash-alt text-danger">Eliminar</i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h5 class="titulo">LISTADO DE USUARIOS</h5>
            <table class="table">
                <tbody>
                    <tr *ngFor="let usuario of listUsers">
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidos }}</td>
                        <td>{{ usuario.user }}</td>
                        <td>
                            <i (click)="editarUsuario(usuario)" class="far fa-edit text-info">Editar</i>
                        </td>
                        <td>
                            <i (click)="eliminarUsuario(usuario.id)" class="far fa-trash-alt text-danger">Eliminar</i>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>